.MainSection{
  padding: 1.5rem;
 
}
.mainLeft{
  display: grid;
  grid-template-rows: 1fr 1fr;
gap: 20px;
}
@media screen and (max-width: 640px) {
  .mainLeft{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 2px;
    flex-direction: row !important;
    justify-content: flex-start !important;
    padding: 0 2px !important;
   /* gap: 20px; */
   flex-wrap: wrap;
   font-size: 1.5rem !important;
  }
  .leftsecondsection{
    justify-self: end;
    height: 3rem !important;
 
  }
  .boldText{
    font-size: 1.5rem !important;

  }
}


.mainLeft h3{
  line-height: 1.5em;
  letter-spacing: 0.125em;
}
.boldText{
  font-weight: bolder;
  font-size: 3rem;
  letter-spacing: 0.025em;
  line-height: 1.05em;
  margin-bottom: 0.25em;
}


.MainSectioncenter{
  padding: 1.5rem;
  position: relative;
  /* overflow: hidden; */
}

 .circleAroundImage{
  position: absolute;
  width: 30rem;
  height:30rem;
  background-color: var(--bg);
  border-radius: 50rem;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.mainImage{
  width: 37rem;
    height: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.hero{
  width: 100%;
  
}
.lockandbutton{
  position: relative;
    top: -13rem;
    width: 200px;
    left: 25rem;
    height: 84px
}



.lockBackground{
  position:absolute;
  left: 1rem;
    bottom: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--write);
    border: 5px solid var(--black);
    border-radius: 5rem;
    display: inline-block;
    

}
.lock{
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:var(--black)
}


/* BUTTON */
.buttonPosition{
  position:absolute;
    left: 7rem;
    bottom: 42px;
    width: 50px;
}
.button {
  /* position: relative; */
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  padding: 5px 35px;
  background: #FEC195;
  font-size: 13px;
  font-weight: 500;
  color: #181818;
  border: 1px solid #FEC195;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));

 
}

.button:hover {
  border: 1px solid #f3b182;
  background: linear-gradient(85deg, #dea379, #f5ae7b, #d59465, #f7ac76, #f69a59);
  animation: wind 2s ease-in-out infinite;
  
}

@keyframes wind {
  0% {
    background-position: 0% 50%;
  }

  0% {
    background-position: 50% 100%;
  }

  0% {
    background-position: 0% 50%;
  }
}

.icon1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  transform-origin: 0 0;
  transform: rotate(10deg);
  transition: all .5s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
}

.button:hover .icon1 {
  animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
  transform: rotate(10deg);
}

@keyframes slay-1 {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.icon2 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 12px;
  transform-origin: 50% 0;
  transform: rotate(10deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

button:hover .icon2 {
  animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0);
  }
}

.icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  transform-origin: 50% 0;
  transform: rotate(-5deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

button:hover .icon3 {
  animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-3 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}

@media screen and (max-width: 640px) {
  .MainSectioncenter{
    margin: 3rem 0;
    overflow: visible;
  }
    .circleAroundImage {
      width: 15rem;
      height: 15rem;
    }
    
    .mainImage {
      width: 15rem;
      height: 15rem;
      top: 70%;
    }
    
   .lockandbutton{
    left: 3.5rem;
    top: 27px;
    width:163px;
   }
   .lockBackground{
    width: 2.5rem;
    height: 2.5rem;
   }
   .buttonPosition{
    width: 0;
   }
    .button {
      font-size: 10px;
      padding: 3px 25px;
    }
  }
  

