:root {
  --black:#1c1c1c;
  --bg:#f27f9b;
  --shadow1:0px 13px 48px -1px rgba(0,0,0,0.25);
  --shadow2:0px 13px 46px rgba(0,0,0,0.13);
  --violet:#b39bc8;
  --write:#f0ebf4;
}
.App{
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar{
  height: 12px;
  width: 12px;
}
::-webkit-scrollbar-track{
  background: rgba(255,255,255,0.2);
  border-radius: 1px;
}
::-webkit-scrollbar-thumb{
  background: var(--bg);
  border-radius: 1px;
}

a{
  text-decoration: none;
  color: inherit;
}
